*-debug.log
*-error.log
/.nyc_output
/dist
/lib
# /package-lock.json
/yarn.lock
/tmp
node_modules
oclif.manifest.json
**/.DS_Store
/.idea

test/pdfs/output*
test/pdfs/input*ed.pdf
test/pdfs/*.txt
/test/pdfz
/test/docs/aaa

*.tgz
